/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

body {
	max-width: 1240px;
	margin: 0 auto;
}

nav {
	text-align: center;
	margin: 40px 0;
}

nav a {
	margin: 30px;
	color: gray;
	text-decoration: none;
}

nav a:hover {
	color: red;
}

header {
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 6rem;
}

button {
	width: 200px;
	background: transparent;
	border: 1px solid #222;
	text-transform: uppercase;
	padding: 10px;
	margin: 20px 0 0 40px;
	outline: none;
}

button:hover {
	background: #222;
	color: #fff;
	cursor: pointer;
}

button:active {
	background: red;
}

.header-section {
	display: inline-block;
	margin: 40px;
}

.two-article {
	width: 100%;
}

.top-articles {
	display: inline-block;
	width: 45%;
	margin: 0 10px;
}

.top-articles::last-child {
	float: right;
}

.middle-img {
	width: 100%;
	margin: 40px auto;
}

.three-article {
	width: 100%;
	margin: 0 10px;
	margin-bottom: 40px;
}

.bottom-articles {
	display: inline-block;
	width: 400px;
	margin: 5px;
}

.contact {
	margin: 0 10px;
}

.contact a {
	text-decoration: none;
	color: black;
}

.contact a:hover {
	text-decoration: underline;
	color: gray;
}



footer {
	margin: 40px;
	text-align: center;
}